<div class="job-finder">
    <div class="container">
        <h3>Encontrar un trabajo</h3>
        <form>
            <div class="col-md-7 form-group group-1">
                <label for="searchjob" class="label">Búsqueda</label>
                <input type="text" id="searchjob" class="input-job" placeholder="Palabras claves (Ingeniero de TI, gerente de tienda, gerente de recursos...)">
            </div>
            <div class="col-md-5 form-group group-2">
                <label for="searchplace" class="label">Ubicación</label>
                <input type="text" id="searchplace" class="input-location" placeholder="Caracas, Valencia, Maracaibo">
            </div>


            <div class="form-group">
                <label for="experiences" class="label clearfix">Experiencias(-/+)</label>
                <input id="experiences" class="value-slider" type="text" name="area" value="1;1" />
            </div>
            <div class="clearfix"></div>
            <br/>
            <div class="form-group">
                <label for="salary" class="label clearfix">Salario por año</label>
                <input id="salary" class="value-slider" type="text" name="area" value="0;0" />
                <div class="clearfix"></div>
            </div>
            <button type="button" class="btn btn-default btn-green">Busqueda</button>
        </form>
    </div>
</div>