<!-- <div id="wrapper">start main wrapper -->
    <div id="header"><!-- start main header -->
        <div class="top-line">&nbsp;</div>
        <div class="top"><!-- top -->
            <div class="container">
                <div class="media-top-right">
                    <ul class="media-top clearfix">
                        <li class="item"><a href="" target="blank"><i class="fab fa-twitter"></i></a></li>
                        <li class="item"><a href="" target="blank"><i class="fab fa-facebook"></i></a></li>
                        <li class="item"><a href="" target="blank"><i class="fab fa-linkedin"></i></a></li>
                        <li class="item"><a href="" target="blank"><i class="fa fa-rss"></i></a></li>
                        <li class="item"><a href="" target="blank"><i class="fab fa-google-plus"></i></a></li>
                    </ul>
                    <ul class="media-top-2 clearfix">
                        <li routerLinkActive="active"><a routerLink="/RegisterUser" class="btn btn-default btn-blue btn-sm">REGISTRATE</a></li>
                        <li routerLinkActive="active"><a routerLink="/LoginUser" class="btn btn-default btn-green btn-sm" >INGRESA</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div><!-- top -->
        <div class="container"><!-- container -->
            <div class="row">
                <div class="col-md-4"><!-- logo -->
                    <a href="index.html" title="Job Board" rel="home">
                        <img class="main-logo" src="assets/images/logo.png" alt="job board" />
                    </a>
                </div><!-- logo -->
                <div class="col-md-8 main-nav"><!-- Main Navigation -->
                    <a id="touch-menu" class="mobile-menu" href="#"><i class="fa fa-bars fa-2x"></i></a>
                    <nav>
                        <ul class="menu">
                            <li><a href="index.html">INICIO</a>
                                <ul class="sub-menu">
                                    <li routerLinkActive="active"><a routerLink="/about-us">Nosotros</a></li>
                                    <li routerLinkActive="desactive"><a href="blog.html">Blog</a></li>
                                    <li routerLinkActive="desactive"><a href="detail-blog.html">Single Blog Page</a></li>
                                    <li routerLinkActive="active"><a routerLink="/JobDetails">Single Job Page</a></li>
                                    <li routerLinkActive="active"><a routerLink="/Joblisting">Listado de Trabajos</a></li>
                                    <li routerLinkActive="active"><a routerLink="/Contact">Contactanos</a></li>
                                    <li routerLinkActive="active"><a routerLink="/RegisterUser">Registrate</a></li>
                                    <li routerLinkActive="active"><a routerLink="/LoginUser">Ingresar</a></li>   
                                    <!-- <li><a href="short-codes.html">Short Code</a></li> -->
                                    <!-- <li><a href="post-job.html">Post a Job</a></li>
                                    <li><a href="post-resume.html">Post a Resume</a></li> -->
                                </ul>
                            </li>
                            <li><a  href="#">BUSCAR EMPLEO</a></li>
                            <li routerLinkActive="active"><a routerLink="/post-job">PUBLICAR UN TRABAJO</a></li>
                            <li routerLinkActive="active"><a routerLink="/PostResume">PUBLICAR UN CURRICULUM</a></li>
                            <!-- <li><a  href="#">PRICING</a></li> -->
                            <!-- <li><a  href="short-codes.html">SHORTCODE</a></li> -->
                        </ul>
                    </nav>
                </div><!-- Main Navigation -->
                <div class="clearfix"></div>
            </div>
        </div><!-- container -->
    </div><!-- end main header -->

<!-- ng g c pages\jobfind --skip-tests -->

<router-outlet></router-outlet>