<div class="main-slider"><!-- start main-headline section -->
    <div class="slider-nav">
        <a class="slider-prev"><i class="fa fa-chevron-circle-left"></i></a>
        <a class="slider-next"><i class="fa fa-chevron-circle-right"></i></a>
    </div>
    <div id="home-slider" class="owl-carousel owl-theme">
        <div class="item-slide">
            <img src="assets/images/dummy-slide-1.jpg" class="img-responsive" alt="dummy-slide" />
        </div>
        <div class="item-slide">
            <img src="assets/images/dummy-slide-2.jpg" class="img-responsive" alt="dummy-slide" />
        </div>
    </div>
</div><!-- end main-headline section -->


<div class="headline container"><!-- start headline section -->
        <div class="row" >
            <div class="col-md-6 align-right">
                <h4>La forma más fácil de encontrar el trabajo de tus sueños</h4>
                <p class="justifyText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo suscipit corrupti doloremque accusantium, et est labore voluptates, ipsam molestias adipisci nesciunt error maxime architecto. Enim dolores provident nostrum iste magnam?</p>
                <p><a href="" class="btn btn-default btn-yellow">Buscar un Trabajo</a></p>
            </div>
            <div class="col-md-6 align-left">
                <h4>Contratar personas calificadas, el mejor de ellos</h4>
                <p class="justifyText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eveniet ea officia maxime molestiae laborum iste architecto eum ab debitis asperiores recusandae, voluptate rem totam. Voluptatem minima omnis reiciendis magnam?</p>
                <p><a href="" class="btn btn-default btn-light" >Publicar un trabajo</a></p>
            </div>
            <div class="clearfix"></div>
        </div>
</div><!-- end headline section -->