<div class="job-status">
    <div class="container">
            <h1>Actualizaciones de estadísticas de trabajos</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem possimus, et veritatis consectetur eligendi ratione assumenda iste eum fugiat ut hic, quasi reiciendis asperiores at nulla corrupti blanditiis! Eos, culpa.
            </p>

            <div class="counter clearfix">
                <div class="counter-container">
                    <div class="counter-value">125</div>
                    <div class="line"></div>
                    <p>TRABAJO PUBLICADO</p>
                </div>
    
                
                <div class="counter-container">
                    <div class="counter-value">50</div>
                    <div class="line"></div>
                    <p>Posiciones Colocadas</p>
                </div>
                
                <div class="counter-container">
                    <div class="counter-value">75</div>
                    <div class="line"></div>
                    <p>Compañias</p>
                </div>
                
                <div class="counter-container">
                    <div class="counter-value">85</div>
                    <div class="line"></div>
                    <p>Miembros</p>
                </div>
            </div>
        
    </div>
</div>