<div id="page-content"><!-- start content -->
    <div class="content-about">
        <!-- <div class="container-fluid full">
            <div id="page">
                <div class="location"></div>
            </div>
        </div> -->
        <div class="main-page-title"><!-- start main page title -->
            <div class="container">
                <div class="post-job-title">Enviar un mensaje</div>
            </div>
        </div><!-- end main page title -->

        <div class="container">
            <form role="form" class="contact" id="contact_form" method="post" name="contact_form" action="send.php">
                <div class="form-group col-md-4">
                    <label>Nombre</label>
                    <input type="text" class="form-control name" name="name" id="name">
                </div>

                <div class="form-group col-md-4">
                    <label>Email</label>
                    <input type="text" class="form-control email" name="email" id="email" >
                </div>

                <div class="form-group col-md-4">
                    <label>Telefono</label>
                    <input type="text" class="form-control phone" name="phone" id="phone">
                </div>

                <div class="form-group col-md-4">
                    <label>Sitio Web</label>
                    <input type="text" class="form-control website" name="web" id="web">
                </div>

                <div class="form-group col-md-8">
                    <label>Asunto</label>
                    <input type="text" class="form-control subject" name="subject" id="subject">
                </div>

                <div class="form-group col-md-12">
                    <label>Mensaje</label>
                    <textarea class="form-control message" rows="8" id="message" name="message"></textarea>

                    <button class="btn btn-default btn-green" type="submit" name="submit" id="submit">ENVIAR</button>
                    
                </div>
                <div class="clearfix"></div>
            </form>

            <div class="spacer-2">&nbsp;</div>
        </div>
    </div>
</div>

