<div class="step-to">
    <div class="container">
        <h1>La forma más fácil de usar</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, illum? Voluptates, dolorem ipsum quod illum architecto fuga, voluptatem suscipit ullam sunt blanditiis minima accusantium nobis similique voluptatum ad eius quia.
        </p>

        <div class="step-spacer"></div>
        <div id="step-image">
            <div class="step-by-container">
                <div class="step-by">
                    Primer paso
                    <div class="step-by-inner">
                        <div class="step-by-inner-img">
                            <img src="assets/images/step-icon-1.png" alt="step" />
                        </div>
                    </div>
                    <h5>Regístrese con nosotros</h5>
                </div>
                        
                <div class="step-by">
                    Segundo paso
                    <div class="step-by-inner">
                        <div class="step-by-inner-img">
                            <img src="assets/images/step-icon-2.png" alt="step" />
                        </div>
                    </div>
                    <h5>Crea tu perfil</h5>
                </div>
                        
                <div class="step-by">
                    Tercer paso
                    <div class="step-by-inner">
                        <div class="step-by-inner-img">
                            <img src="assets/images/step-icon-3.png" alt="step" />
                        </div>
                    </div>
                    <h5>Sube tu currículum</h5>
                </div>
                        
                <div class="step-by">
                    Ahora es nuestro turno
                    <div class="step-by-inner">
                        <div class="step-by-inner-img">
                            <img src="assets/images/step-icon-4.png" alt="step" />
                        </div>
                    </div>
                    <h5>Ahora descansa :)</h5>
                </div>
                        
            </div>
        </div>
        <div class="step-spacer"></div>
    </div>
</div>
