<div id="company-post">
    <div class="container">
        
        <h1>Empresas que han publicado puestos de trabajo</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque suscipit optio soluta dolor accusamus, facere illo amet cum, mollitia voluptatibus, consequatur nobis ipsam ea! Veniam, voluptatem! Aperiam dolore eveniet labore.
        </p>
            
        <div id="company-post-list" class="owl-carousel company-post">
            <div class="company">
                <img src="assets/images/companies_posted/company-1.png" class="img-responsive" alt="company-post" />
            </div>
            <div class="company">
                <img src="assets/images/companies_posted/company-2.png" class="img-responsive" alt="company-post" />
            </div>
            <div class="company">
                <img src="assets/images/companies_posted/company-3.png" class="img-responsive" alt="company-post" />
            </div>
            <div class="company">
                <img src="assets/images/companies_posted/company-4.png" class="img-responsive" alt="company-post" />
            </div>
            <div class="company">
                <img src="assets/images/companies_posted/company-5.png" class="img-responsive" alt="company-post" />
            </div>
            
            <div class="company">
                <img src="assets/images/companies_posted/company-1.png" class="img-responsive" alt="company-post" />
            </div>
            <div class="company">
                <img src="assets/images/companies_posted/company-2.png" class="img-responsive" alt="company-post" />
            </div>
            <div class="company">
                <img src="assets/images/companies_posted/company-3.png" class="img-responsive" alt="company-post" />
            </div>
            <div class="company">
                <img src="assets/images/companies_posted/company-4.png" class="img-responsive" alt="company-post" />
            </div>
            <div class="company">
                <img src="assets/images/companies_posted/company-5.png" class="img-responsive" alt="company-post" />
            </div>
            
        </div>
    </div>
</div>

