<!-- <app-joblisting></app-joblisting> -->

<div class="recent-job"><!-- Start Job -->
    <div class="container">
        <h4><i class="fa fa-briefcase"></i> Trabajos</h4>
        <div id="tab-container" class='tab-container'><!-- Start Tabs -->
            <ul class='etabs clearfix'>
                <li class='tab'><a href="#all">Todos</a></li>
                <li class='tab'><a href="#contract">Contratados</a></li>
                <li class='tab'><a href="#full">Tiempo Completo</a></li>
                <li class='tab'><a href="#free">Freelence</a></li>
            </ul>

            <div class='panel-container'>
                <div id="all"><!-- Tabs section 1 -->
                    <div class="recent-job-list"><!-- Tabs content -->
                        <div class="col-md-1 job-list-logo">
                            <img src="assets/images/company-1.png" class="img-responsive" alt="company-logo" />
                        </div>

                        <div class="col-md-5 job-list-desc">
                            <h6>Store General Manager</h6>
                            <p>Similique sunt in culpa qui officia deserunt mollitia animi</p>
                        </div>
                        <div class="col-md-3 job-list-location">
                            <h6><i class="fa fa-map-marker"></i>San Fransisco</h6>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-7 job-list-type">
                                    <h6><i class="fa fa-user"></i>Tiempo completo</h6>
                                </div>
                                <div class="col-md-5 job-list-button">
                                    <button class="btn-view-job" >Ver Trabajo</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- Tabs content -->

                    <div class="recent-job-list"><!-- Tabs content -->
                        <div class="col-md-1 job-list-logo">
                            <img src="assets/images/company-2.png" class="img-responsive" alt="logo" />
                        </div>
                        <div class="col-md-5 job-list-desc">
                            <h6>Store General Manager</h6>
                            <p>Similique sunt in culpa qui officia deserunt mollitia animi </p>
                        </div>

                        <div class="col-md-3 job-list-location">
                            <h6><i class="fa fa-map-marker"></i>San Fransisco</h6>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-7 job-list-type">
                                    <h6><i class="fa fa-user"></i>Tiempo completo</h6>
                                </div>
                                <div class="col-md-5 job-list-button">
                                    <button class="btn-view-job" >Ver Trabajo</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- Tabs content -->

                    <div class="recent-job-list"><!-- Tabs content -->
                        <div class="col-md-1 job-list-logo">
                            <img src="assets/images/company-3.png" class="img-responsive" alt="logo" />
                        </div>
                        <div class="col-md-5 job-list-desc">
                            <h6>Store General Manager</h6>
                            <p>Similique sunt in culpa qui officia deserunt mollitia animi </p>
                        </div>
                        <div class="col-md-3 job-list-location">
                            <h6><i class="fa fa-map-marker"></i>San Fransisco</h6>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-7 job-list-type">
                                    <h6><i class="fa fa-user"></i>Tiempo completo</h6>
                                </div>
                                <div class="col-md-5 job-list-button">
                                    <button class="btn-view-job" >Ver Trabajo</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- Tabs content -->

                    <div class="recent-job-list"><!-- Tabs content -->
                        <div class="col-md-1 job-list-logo">
                            <img src="assets/images/company-4.png" class="img-responsive" alt="logo" />
                        </div>
                        <div class="col-md-5 job-list-desc">
                            <h6>Store General Manager</h6>
                            <p>Similique sunt in culpa qui officia deserunt mollitia animi </p>
                        </div>
                        <div class="col-md-3 job-list-location">
                            <h6><i class="fa fa-map-marker"></i>San Fransisco</h6>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-7 job-list-type">
                                    <h6><i class="fa fa-user"></i>Tiempo completo</h6>
                                </div>
                                <div class="col-md-5 job-list-button">
                                    <button class="btn-view-job" >Ver Trabajo</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- Tabs content -->

                    <div class="recent-job-list"><!-- Tabs content -->
                        <div class="col-md-1 job-list-logo">
                            <img src="assets/images/company-5.png" class="img-responsive" alt="logo" />
                        </div>
                        <div class="col-md-5 job-list-desc">
                            <h6>Store General Manager</h6>
                            <p>Similique sunt in culpa qui officia deserunt mollitia animi </p>
                        </div>
                        <div class="col-md-3 job-list-location">
                            <h6><i class="fa fa-map-marker"></i>San Fransisco</h6>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-7 job-list-type">
                                    <h6><i class="fa fa-user"></i>Tiempo completo</h6>
                                </div>
                                <div class="col-md-5 job-list-button">
                                    <button class="btn-view-job" >Ver Trabajo</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- Tabs content -->

                    <div class="recent-job-list"><!-- Tabs content -->
                        <div class="col-md-1 job-list-logo">
                            <img src="assets/images/company-1.png" class="img-responsive" alt="logo" />
                        </div>
                        <div class="col-md-5 job-list-desc">
                            <h6>Store General Manager</h6>
                            <p>Similique sunt in culpa qui officia deserunt mollitia animi </p>
                        </div>
                        <div class="col-md-3 job-list-location">
                            <h6><i class="fa fa-map-marker"></i>San Fransisco</h6>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-7 job-list-type">
                                    <h6><i class="fa fa-user"></i>Tiempo completo</h6>
                                </div>
                                <div class="col-md-5 job-list-button">
                                    <button class="btn-view-job" >Ver Trabajo</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- Tabs content -->
                </div><!-- Tabs section 1 -->
                <div id="contract"><!-- Tabs section 2 -->
                </div><!-- Tabs section 2 -->
                <div id="full"><!-- Tabs section 3 -->
                </div><!-- Tabs section 3 -->
                <div id="free"><!-- Tabs section 4 -->
                </div><!-- Tabs section 4 -->
            </div>
        </div><!-- end Tabs -->

        <div id="job-opening">
            <div class="job-opening-top"><!-- job opening carousel nav -->
                <div class="job-oppening-title">DESTACADOS</div>
                <div class="job-opening-nav">
                    <a class="btn prev"></a>
                    <a class="btn next"></a>
                    <div class="clearfix"></div>
                </div>
            </div><!-- job opening carousel nav -->
            <div class="clearfix"></div>
            <br/>
            <div id="job-listing-carousel" class="owl-carousel"><!-- job opening carousel item -->
                <div class="item-listing">
                    <div class="job-opening">
                        <img src="assets/images/dummy-job-open-2.png" class="img-responsive" alt="job-opening" />
                        <div class="job-opening-content">
                            Gerente de RRHH
                            <p>
                                Place for worlds best shipping company and work with great level efficiency to break trough in new career.
                            </p>
                        </div>
                        <div class="job-opening-meta clearfix">
                            <div class="meta-job-location meta-block"><i class="fa fa-map-marker"></i>San Fransisco</div>
                            <div class="meta-job-type meta-block"><i class="fa fa-user"></i>Tiempo completo</div>
                        </div>
                    </div>
                </div>

                <div class="item-listing">
                    <div class="job-opening">
                        <img src="assets/images/dummy-job-open-1.png" class="img-responsive" alt="job-opening" />
                        <div class="job-opening-content">
                            HR Manager
                            <p>
                                Place for worlds best shipping company and work with great level efficiency to break trough in new career.
                            </p>
                        </div>
                        <div class="job-opening-meta clearfix">
                            <div class="meta-job-location meta-block"><i class="fa fa-map-marker"></i>San Fransisco</div>
                            <div class="meta-job-type meta-block"><i class="fa fa-user"></i>Tiempo completo</div>
                        </div>
                    </div>
                </div>

                <div class="item-listing">
                    <div class="job-opening">
                        <img src="assets/images/dummy-job-open-2.png" class="img-responsive" alt="job-opening" />
                        <div class="job-opening-content">
                            HR Manager
                            <p>
                                Place for worlds best shipping company and work with great level efficiency to break trough in new career.
                            </p>
                        </div>
                        <div class="job-opening-meta clearfix">
                            <div class="meta-job-location meta-block"><i class="fa fa-map-marker"></i>San Fransisco</div>
                            <div class="meta-job-type meta-block"><i class="fa fa-user"></i>Tiempo completo</div>
                        </div>
                    </div>
                </div>

                <div class="item-listing">
                    <div class="job-opening">
                        <img src="assets/images/dummy-job-open-1.png" class="img-responsive" alt="job-opening" />
                        <div class="job-opening-content">
                            HR Manager
                            <p>
                                Place for worlds best shipping company and work with great level efficiency to break trough in new career.
                            </p>
                        </div>
                        <div class="job-opening-meta clearfix">
                            <div class="meta-job-location meta-block"><i class="fa fa-map-marker"></i>San Fransisco</div>
                            <div class="meta-job-type meta-block"><i class="fa fa-user"></i>Tiempo completo</div>
                        </div>
                    </div>
                </div>
            </div><!-- job opening carousel item -->
        </div>
    </div>
</div><!-- end Job -->

